APP_ENV=production

APP_DOMAIN=proconnect.app
API_DOMAIN=api.proconnect.app

BACKEND_IMAGE=ghcr.io/dottox/proconnect-backend
FRONTEND_IMAGE=ghcr.io/dottox/proconnect-frontend

APP_NAME=ProConnect
APP_URL=https://api.proconnect.app
FRONTEND_URL=https://proconnect.app

APP_KEY=
APP_DEBUG=false
LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=proconnect
DB_USERNAME=proconnect
DB_PASSWORD=

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=database

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=
MAPBOX_TOKEN=
